.two {
  margin: 150px;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: rotate(20deg);
}
.three {
  margin: 150px;
  width: 200px;
  height: 100px;
  background-color: rgb(255, 187, 0);
  border: 1px solid black;
  transform: rotateX(150deg);
}
.trans {
  width: 100px;
  height: 100px;
  background: aquamarine;
  transition: width 2s, height 2s, transform 2s;
  transition-timing-function: ease;
}
.trans:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}
